<app-navbar></app-navbar>
<section class="about-me-section">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-heading">Om mig</div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vel nibh in metus aliquet maximus. Pellentesque condimentum, ante at
            maximus efficitur, neque diam dapibus enim, et ultricies quam neque
            a odio. Nulla dapibus felis turpis, nec faucibus orci commodo quis.
            Suspendisse suscipit iaculis finibus. Aliquam pellentesque aliquam
            magna semper commodo. Praesent porttitor, ipsum quis placerat
            consectetur, mauris erat mollis sapien, ac tristique nulla ligula ac
            nisi. Proin quis diam eu dui vehicula luctus eu et libero. Duis at
            eros vel magna sollicitudin ullamcorper vel ut dui. Maecenas in
            libero sit amet ligula gravida pellentesque.
          </div>
          <div class="panel-footer text-right py-3">- Lisa Almgren</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body text-center">
            <img
              src="https://ssl.bigstockimages.com/2/1/2/large1500/212332258.jpg"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider py-3 p">
  <div class="container">
    <div class="border border-secondary"></div>
  </div>
</section>

<section class="earlier-clients-section">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body text-center">
            <img
              src="https://www.thetrainingroom.com/getattachment/Blog/Fitness/October-2018/Struggling-PT-Client-Motivate-Them-with-This/how-to-boost-your-pt-business-2-01.pngaspx"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-heading">Tidigare klienter</div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vel nibh in metus aliquet maximus. Pellentesque condimentum, ante at
            maximus efficitur, neque diam dapibus enim, et ultricies quam neque
            a odio. Nulla dapibus felis turpis, nec faucibus orci commodo quis.
            Suspendisse suscipit iaculis finibus. Aliquam pellentesque aliquam
            magna semper commodo. Praesent porttitor, ipsum quis placerat
            consectetur, mauris erat mollis sapien, ac tristique nulla ligula ac
            nisi. Proin quis diam eu dui vehicula luctus eu et libero. Duis at
            eros vel magna sollicitudin ullamcorper vel ut dui. Maecenas in
            libero sit amet ligula gravida pellentesque.
          </div>
          <div class="panel-footer text-right py-3">
            <button class="btn btn-outline-mustard">Läs mer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="divider py-3 p">
  <div class="container">
    <div class="border border-secondary"></div>
  </div>
</section>

<section class="apply-for-membership-section">
  <div class="container">
    <div class="panel">
      <div class="panel-heading">Ansök om medlemskap idag!</div>
      <div class="panel-body">Få tillgång till alla fördelar</div>
      <div class="panel-footer text py-3">
        <button class="btn btn-outline-mustard">Ansök här</button>
      </div>
    </div>
  </div>
</section>

<section class="divider py-3 p">
  <div class="container">
    <div class="border border-secondary"></div>
  </div>
</section>

<section class="prices-section">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-heading">Priser</div>
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            vel nibh in metus aliquet maximus. Pellentesque condimentum, ante at
            maximus efficitur, neque diam dapibus enim, et ultricies quam neque
            a odio. Nulla dapibus felis turpis, nec faucibus orci commodo quis.
            Suspendisse suscipit iaculis finibus. Aliquam pellentesque aliquam
            magna semper commodo. Praesent porttitor, ipsum quis placerat
            consectetur, mauris erat mollis sapien, ac tristique nulla ligula ac
            nisi. Proin quis diam eu dui vehicula luctus eu et libero. Duis at
            eros vel magna sollicitudin ullamcorper vel ut dui. Maecenas in
            libero sit amet ligula gravida pellentesque.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel">
          <div class="panel-body">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Antalet månader</th>
                  <th scope="col">Total pris</th>
                  <th scope="col">Pris per månad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">3 månader</th>
                  <td>1500 kr</td>
                  <td>500 kr</td>
                </tr>
                <tr>
                  <th scope="row">6 månader</th>
                  <td>2500 kr</td>
                  <td>417 kr</td>
                </tr>
                <tr>
                  <th scope="row">12 månader</th>
                  <td>4000 kr</td>
                  <td>333 kr</td>
                </tr>
                <tr>
                  <th scope="row">24 månader</th>
                  <td>7000 kr</td>
                  <td>292 kr</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-page-footer></app-page-footer>
