@import "../../../../design/colors.scss";

.start-here-section {
  background-image: url("https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 85vh;
}

h1 {
  color: map-get($map: $theme-colors, $key: title-color-light);
  text-shadow: 2px 2px map-get($map: $theme-colors, $key: dark);
  font-size: 1.5rem;
}

// For larger screens
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 546px) {
  .btn {
    font-size: 12px;
  }
}
