<footer class="page-footer">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md text-center">
        <div class="footer-copyright">
          © 2021 Manticae
        </div>
        <div class="footer-copyright">
          Instagram
        </div>
      </div>
      <div class="col-md text-center">
        <div class="footer-copyright">
          Facebook
        </div>
        <div class="footer-copyright">
          Twitter
        </div>
      </div>
      <div class="col-md text-center">
        <div class="footer-copyright">
          Mail
        </div>
        <div class="footer-copyright">
          Etc
        </div>
      </div>
    </div>
  </div>
</footer>
