<app-navbar></app-navbar>
<p>
  <ngb-progressbar
    [showValue]="false"
    [striped]="true"
    [animated]="true"
    height="2rem"
    type="danger"
    [value]="100"
    >Fyll i din hälsodeklaration!</ngb-progressbar
  >
</p>
<div class="container">
  <button (click)="temporaryLogOut()">Logga ut</button>
  <div class="row align-items-center">
    <div class="col-sm" *ngFor="let card of cards">
      <app-card-navigation
        [description]="card.description"
        [title]="card.title"
        [url]="card.url"
      ></app-card-navigation>
      <div style="width: fit-content; height: 10px"></div>
    </div>
  </div>
</div>
