<!-- <p>
  <ngb-progressbar
    [showValue]="false"
    [striped]="true"
    [animated]="true"
    height="2rem"
    type="danger"
    [value]="100"
    >Fyll i din hälsodeklaration!</ngb-progressbar
  >
</p> -->
<section class="navigation-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let card of navigationCards">
        <a href="{{ card.redirectTo }}">
          <div class="card my-4 mx-sm-3">
            <div class="card-title">
              <div
                class="service-image"
                [ngStyle]="{ 'background-image': 'url(' + card.imageSrc + ')' }"
              ></div>
              <div class="title">
                <h3>{{ card.title }}</h3>
              </div>
            </div>

            <div class="card-body">
              {{ card.description }}
            </div>
            <div class="card-footer text-right border-0">
              <div class="col">
                <a href="{{ card.redirectTo }}"
                  ><i class="bi bi-arrow-right-circle"></i
                ></a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
