<section id="process" class="process">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 text-center">
        <h1>Processen</h1>
      </div>
      <div class="col">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan,
          metus sit amet tincidunt pulvinar, libero ipsum lobortis nisi, eget
          eleifend lectus tellus ut libero. Donec et efficitur neque, rhoncus
          aliquam dolor. Sed convallis convallis nisi eu ultrices. Praesent
          bibendum ex eu metus lobortis, eget varius nibh blandit. Vestibulum
          tincidunt placerat lectus sed blandit. Curabitur a dolor metus.
          Integer quis velit odio. Fusce dignissim vehicula magna a cursus. Cras
          ac condimentum lectus. In hac habitasse platea dictumst.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mx-lg-5">
      <div class="col-lg" *ngFor="let card of infoCards">
        <div class="card my-5 mx-sm-2">
          <div class="card-title">
            <h2>{{ card.number }}</h2>
            <h3>{{ card.title }}</h3>
          </div>
          <div class="card-body">
            {{ card.info }}
          </div>
          <div class="card-footer text-right py-3 border-0"></div>
        </div>
      </div>
    </div>
  </div>
</section>
