<section class="about-me-section">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5">
        <a href="#contact">
          <div class="card my-5 mx-lg-5 mx-md-5 mx-sm-2">
            <div class="card-title">Om mig</div>
            <div class="card-body">
              Jag är licensierad personlig tränare och kostrådgivare.<br />
              Min passion för hälsa, kost och träning är en stor del av mitt
              liv. Det påverkar min dagliga livskvalitet, ork och min allmänna
              motivation. Det jag brinner för är att hjälpa dig hitta din väg
              till ett hälsosammare och starkare liv.<br />
              Jag lär dig hur du bäst tränar för att uppnå dina mål. Hur vi
              balanserar kosten och äter tillräckligt så vi håller oss mätta och
              bra under hela dagen. <br />
              Tjänsterna är personligt utformad efter dina behov och mål vilket
              gör att du får bästa möjliga förutsättningar
              <p class="signature text-center">- Lisa</p>
            </div>
            <div class="card-footer text-right py-3 border-0">
              <a href="#contact"
                >Kontakta mig <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 d-none d-lg-block">
        <div class="panel">
          <div class="panel-body text-center">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSih8JgJIDsI7h5eXG8lZg5iJx6pvPWOQRIVA&usqp=CAU"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
