@import "../../../../design/colors.scss";

.contact-me-section {
  background-color: map-get($map: $theme-colors, $key: light);
}

.card {
  width: auto;
}

.card-body {
  color: map-get($map: $theme-colors, $key: text-color-dark);
}

.card-title {
  padding-top: 25px;
  padding-left: 25px;
  color: map-get($map: $theme-colors, $key: title-color-dark);
  font-size: xx-large;
}

.form-group {
  color: map-get($map: $theme-colors, $key: title-color-dark);
}
