// Compiling the project is working but a lot of warnings will appear, this is not a problem
// for the project however it is very annoying.
//! DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.
//
// @author Johan Ehinger (https://github.com/johanehinger)
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "colors.scss";
@import "error-message.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}
body {
  height: 100%;
  background: map-get($map: $theme-colors, $key: background-color) !important;

  p {
    color: map-get($map: $theme-colors, $key: text-color-light);
  }
  a {
    color: map-get($map: $theme-colors, $key: secondary);
  }
  a:hover {
    color: map-get($map: $theme-colors, $key: secondary);
  }
}

.navbar {
  a {
    color: map-get($map: $theme-colors, $key: secondary);
  }
}

.card {
  width: 18rem;
}

@import "~bootstrap/scss/bootstrap";
