// Compiling the project is working but a lot of warnings will appear, this is not a problem
// for the project however it is very annoying.
//! DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.
//
// @author Johan Ehinger (https://github.com/johanehinger)

@import "colors.scss";
@import "page-footer-theme.scss";
@import "error-message.scss";

// Set theme colors.
$theme-colors: (
  "primary":
    map-get(
      $map: $custom-colors,
      $key: "berlin-blue",
    ),
  "secondary":
    map-get(
      $map: $custom-colors,
      $key: "mustard",
    ),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

.panel {
  padding: 25px 25px 25px 25px;
  h2 {
    color: map-get($map: $theme-colors, $key: "mustard");
  }
  label {
    color: $light;
  }
  .form-control {
    border-color: map-get($map: $theme-colors, $key: "berlin-blue");
  }
  .form-control:focus {
    border-color: map-get($map: $theme-colors, $key: "berlin-blue");
    box-shadow: inset 0 1px 1px
        map-get($map: $theme-colors, $key: "berlin-blue"),
      0 0 8px map-get($map: $theme-colors, $key: "mustard");
  }
  .panel-body {
    color: $light;
  }
  .panel-heading {
    color: map-get($map: $theme-colors, $key: "mustard");
    font-size: xx-large;
  }
  .panel-footer {
    color: map-get($map: $theme-colors, $key: "mustard");
    font-size: large;
  }
}

body {
  height: 100%;
  background: map-get($map: $theme-colors, $key: "berlin-blue") !important;
  p {
    color: $light;
  }
  a {
    color: map-get($map: $theme-colors, $key: "mustard");
  }
  a:hover {
    color: map-get($map: $theme-colors, $key: "mustard");
  }
}

.navbar {
  a {
    color: map-get($map: $theme-colors, $key: "mustard");
  }
}

.card {
  width: 18rem;
}

@import "~bootstrap/scss/bootstrap";
