$theme-colors: (
  primary: #0b1e33,
  complementary: #013c58,
  secondary: #eb9d02,
  background-color: #0b1e33,
  title-color-light: #ffffff,
  title-color-dark: #020509,
  sub-title-color: #eb9d02,
  text-color-dark: #020509,
  text-color-light: #ffffff,
  light: #ffffff,
  dark: #020509,
  success: #4cbb17,
  info: #f68cc6,
  danger: #ff2400,
  warning: #d35e0e,
);

// $theme-colors: (
//   primary: #8d873b,
//   complementary: #141d26,
//   secondary: #ff6600,
//   background-color: #ffe9cf,
//   title-color-light: #243447,
//   title-color-dark: #000033,
//   sub-title-color: #d696bb,
//   text-color-dark: #092224,
//   text-color-light: #3bbfbf,
//   light: #ffffff,
//   dark: #000000,
//   success: #4cbb17,
//   info: #f68cc6,
//   danger: #660000,
//   warning: #cc9933,
// );
