// Specific colors chosen by customer.
$custom-colors: (
  "berlin-blue": #0b1e33,
  "blue": #013c58,
  "blue-teal": #00537a,
  "mustard": #f5a201,
  "yellow": #ffba42,
  "light-yellow": #ffd35b,
);

// System colors
$success: #4cbb17;
$danger: #ff2400;
$warning: #d35e0e;
$info: #f68cc6;
$light: #ffffff;
$dark: #020509;
