<nav id="mySidebar" class="sidebar">
  <a class="closebtn" (click)="toggleSideBar()">
    <i class="bi bi-x text-secondary"></i>
  </a>
  <ul>
    <li>
      <a class="btn-outline-secondary" href="/admin">Start</a>
    </li>
    <li>
      <a class="btn-outline-secondary" href="#about">Program</a>
    </li>
    <li>
      <a class="btn-outline-secondary" href="#about">Kostplaner</a>
    </li>
    <li>
      <a class="btn-outline-secondary" href="#about">Kunder</a>
    </li>
  </ul>
</nav>

<div id="main">
  <button class="openbtn" (click)="toggleSideBar()">
    <i class="bi bi-list"></i>
  </button>
  <h2>Collapsed Sidebar</h2>
  <p>
    Click on the hamburger menu/bar icon to open the sidebar, and push this
    content to the right.
  </p>
</div>
