<section class="navigation-section">
  <div *ngIf="isLoaded" class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let dietPlan of dietPlans">
        <a [routerLink]="['/user/dietPlans', dietPlan.uid]">
          <div class="card my-4 mx-sm-3">
            <div class="card-title">
              <div
                class="service-image"
                [ngStyle]="{
                  'background-image': 'url(' + dietPlan.image + ')'
                }"
              ></div>
              <div class="title">
                <h3>{{ dietPlan.title }}</h3>
              </div>
            </div>
            <div class="card-body">
              {{ dietPlan.description }}
            </div>
            <div
              class="
                card-footer
                text-right
                py-3
                border-0
                row
                align-items-center
              "
            >
              <div class="col">
                <a [routerLink]="['/user/dietPlans', dietPlan.uid]"
                  ><i class="bi bi-arrow-right-circle"></i
                ></a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
