@import "../../design/colors.scss";

.btn {
  font-size: 12px;
}

@media (min-width: 768px) {
  .btn {
    font-size: 14px;
  }
}

.form-panel {
  margin: 10px;
  margin-left: 150px;
  margin-right: 150px;
}
