<section class="my-services-section">
  <div class="container-fluid text-center">
    <h1>MINA TJÄNSTER</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg" *ngFor="let service of services">
        <a href="services">
          <div class="card my-5 mx-sm-4">
            <div class="card-title">
              <div
                class="service-image"
                [ngStyle]="{ 'background-image': 'url(' + service.image + ')' }"
              ></div>
              <div class="title">
                <h3>{{ service.title }}</h3>
              </div>
            </div>
            <div class="card-body">
              <div [innerHTML]="service.info"></div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <h6 style="display: inline" *ngIf="service.price">
                  {{ service.price }}
                </h6>
                <a class="text-right" href="services"
                  >Läs mer <i class="bi bi-arrow-right"></i
                ></a>
              </div>
              <div></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
