<!-- Start placeholder -->
<nav class="navbar navbar-dark">
  <h5>PtWebbapp</h5>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
</nav>
<div class="container-fluid">
  
  <div class="row">
    <div class="col">
      <p>col 1</p>
    </div>
    <div class="col">
      <p>col 2</p>
    </div>
    <div class="col">
      <p>col 3</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>col 1</p>
    </div>
    <div class="col">
      <p>col 1</p>
    </div>
    <div class="col">
      <p>col 3</p>
    </div>
    <div class="col">
      <p>col 4</p>
    </div>
  </div>
</div>
