<section class="faq-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <h1 class="ml-5 pl-5">FAQs</h1>
      </div>
      <div class="col-lg">
        <div>
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            vestibulum metus at bibendum bibendum. Suspendisse potenti. Integer
            consectetur dolor ut velit maximus vestibulum. Sed hendrerit commodo
            orci vel vehicula. Donec pretium mauris sit amet augue vestibulum,
            et iaculis dolor sagittis. Integer enim elit, semper et vulputate
            non, porttitor ac leo. Quisque malesuada nulla convallis tortor
            tempus, ut venenatis nibh rhoncus.
          </p>
        </div>
        <div>
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            vestibulum metus at bibendum bibendum. Suspendisse potenti. Integer
            consectetur dolor ut velit maximus vestibulum. Sed hendrerit commodo
            orci vel vehicula. Donec pretium mauris sit amet augue vestibulum,
            et iaculis dolor sagittis. Integer enim elit, semper et vulputate
            non, porttitor ac leo. Quisque malesuada nulla convallis tortor
            tempus, ut venenatis nibh rhoncus.
          </p>
        </div>
        <div>
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            vestibulum metus at bibendum bibendum. Suspendisse potenti. Integer
            consectetur dolor ut velit maximus vestibulum. Sed hendrerit commodo
            orci vel vehicula. Donec pretium mauris sit amet augue vestibulum,
            et iaculis dolor sagittis. Integer enim elit, semper et vulputate
            non, porttitor ac leo. Quisque malesuada nulla convallis tortor
            tempus, ut venenatis nibh rhoncus.
          </p>
        </div>
      </div>
      <div class="col-lg">
        <div>
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            vestibulum metus at bibendum bibendum. Suspendisse potenti. Integer
            consectetur dolor ut velit maximus vestibulum. Sed hendrerit commodo
            orci vel vehicula. Donec pretium mauris sit amet augue vestibulum,
            et iaculis dolor sagittis. Integer enim elit, semper et vulputate
            non, porttitor ac leo. Quisque malesuada nulla convallis tortor
            tempus, ut venenatis nibh rhoncus.
          </p>
        </div>
        <div>
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            vestibulum metus at bibendum bibendum. Suspendisse potenti. Integer
            consectetur dolor ut velit maximus vestibulum. Sed hendrerit commodo
            orci vel vehicula. Donec pretium mauris sit amet augue vestibulum,
            et iaculis dolor sagittis. Integer enim elit, semper et vulputate
            non, porttitor ac leo. Quisque malesuada nulla convallis tortor
            tempus, ut venenatis nibh rhoncus.
          </p>
        </div>
        <div>
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            vestibulum metus at bibendum bibendum. Suspendisse potenti. Integer
            consectetur dolor ut velit maximus vestibulum. Sed hendrerit commodo
            orci vel vehicula. Donec pretium mauris sit amet augue vestibulum,
            et iaculis dolor sagittis. Integer enim elit, semper et vulputate
            non, porttitor ac leo. Quisque malesuada nulla convallis tortor
            tempus, ut venenatis nibh rhoncus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
