<app-navbar></app-navbar>

<section class="training-section py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="py-2">
          <h2>TRÄNINGSPROGRAM</h2>
          <h4>VIKTNEDGÅNG - MUSKELUPPBYGGNAD - HÄLSA</h4>
        </div>

        <p>
          Oavsett vad du har för mål med din träning så kommer jag att
          skräddarsy ett träningsprogram som är utformat specifikt för att möta
          dina behov och som tar hänsyn till dina färdigheter.
          Träningsprogrammet får du enkelt tillgång till genom en app som finns
          tillgänglig på både Android och iOS. Även återkoppling, rådgivning och
          kommunikation sker via appen där du även registrerar din träning.
        </p>
        <h5>Beskrivning av programmet</h5>
        <p>
          Du kan själv bestämma om du vill träna hemma eller på gym då
          träningsprogrammet kan anpassas till flera olika träningsredskap såsom
          fria vikter, gummiband eller maskiner
        </p>
        <p>
          Mitt mål är att med min erfarenhet och kunskap erbjuda dig en hållbar
          väg att nå dina mål.
        </p>
        <p>
          Om det skulle vara så att du mår dåligt, känner dig sjuk eller har ont
          så råder jag dig att stanna hemma och vila från träningen.
        </p>
        <p>
          Din hälsa, sömn och välmående är viktigast. Trots att träning är bra
          för får hälsan så är det ibland allra bäst att vila upp sig.
        </p>
        <p>
          Vid vårt första möte så kommer jag att gå igenom vilka redskap som kan
          användas för träningen och även höra om du föredrar att träna hemma
          eller på gym.
        </p>
        <p>
          Det kan komma att jag rekomenderar att vi börjar med vissa redskap
          beroende på din nivå, rörlighet eller koordination. Det ska gå att
          anpassa beroende på vad du har tillgängligt.
        </p>
        <p>
          Övningarna som du ska utföra för att jag ska kunna se din allmäna nivå
          kan enkelt göras hemma, föredrar att du filmar och skickar till mig.
          Annars ger du mig skriftlig feedback.
        </p>
        <p>
          Vi börjar med en introduktionsvecka med fokus på att lära oss
          övningarna, se på rörlighet och förmåga att utföra vissa övningar. r
          du får prova på olika övningar och ge feedback till mig så att jag vet
          hur jag bäst ska utforma ditt träningsprogram. Därefter kommer jag att
          skicka ett första utkast till dig på ett träningsprogram som inväntar
          ditt godkännande. Du har enkelt möjlighet att kommentera programmet i
          appen eller kommunicera direkt med mig om du skulle ha några frågor
          eller funderingar. Våra uppföljningar sker därefter månadsvis med
          video eller röstsamtal via Microsoft Teams.
        </p>
      </div>
      <div class="col text-center">
        <img
          src="https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
        />
      </div>
    </div>
  </div>
</section>

<section class="divider py-3 p">
  <div class="container">
    <div class="border border-secondary"></div>
  </div>
</section>

<section class="diet-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <img
          src="https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg"
        />
      </div>
      <div class="col">
        <div class="py-2">
          <h2>KOSTRÅDGIVNING</h2>
          <h4>Viktnedgång - Muskeluppbyggnad - Hälsa</h4>
        </div>
        <p>
          Oavsett om du vill gå ned i vikt, bygga muskler eller att generellt
          förbättra din hälsa mål så är kost en stor del av dina resultat.
          <br />
          Genom att kombinera mitt träningsprogram tillsammans med min
          kostrådgivning så kan du få ut det bästa dig själv & av mig
        </p>
        <h5>Beskrivning av programmet</h5>
        <p>
          Kostrådgivningen innebär att vi pratar om kostvanor och går igenom
          enkla tips för att balansera dina måltider. Genom vår konversation så
          går vi igenom dina behov och vilka mål du har, därefter så
          sammanställer jag en personligt utformad kostplan för just dig.
        </p>
        <p>
          Din kostplan innehåller bland annat praktiska förslag på bra fetter,
          proteiner och kolhydrater som du kan använda dig av för att förbättra
          din kost. Du får även bra förslag på vilka mängder du bör försöka att
          få i dig och hur du kan blanda och bygga upp dina måltider för att
          hålla dig inom dina mål för dagen. Jag kommer inte att skriva ut
          specifika recept till dig då mitt mål med vägledningen är att du ska
          bli frigående i det långa loppet och lära dig hur du når dina mål utan
          att känna dig låst vid speciella rätter.
        </p>
        <p>
          Kostrådgivningen sköts då samtidigt som vi har återkoppling om ditt
          träningsprogram och erbjuder därmed en komplett lösning som ser till
          att du får rätt mängd motion, och även äter rätt mängd av rätt mat
          varje månad.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="divider py-3 p">
  <div class="container">
    <div class="border border-secondary"></div>
  </div>
</section>

<app-page-footer></app-page-footer>
