@import "../../design/colors.scss";

h2 {
  color: map-get($map: $theme-colors, $key: title-color-light);
}

h4 {
  color: map-get($map: $theme-colors, $key: sub-title-color);
}

h5 {
  color: map-get($map: $theme-colors, $key: sub-title-color);
}
